<nav class="flex items-center justify-between flex-wrap bg-teal p-6">
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
	  <div class="text-sm lg:flex-grow mx-64">
		<a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
		  Buscar Libro
		</a>
		<a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
		  Ayuda
		</a>
		<!-- <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white">
		  Salir
		</a> -->
	  </div>
	  <div>
		<a href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-blue hover:border-transparent hover:text-teal hover:bg-red mt-4 lg:mt-0">Salir</a>
	  </div>
	</div>
</nav>