<body class="test">
	<header class="bg-nav bg-paleta4">
		<div class="flex justify-between">
			<div class="p-1 mx-3 inline-flex">
				<h1 class="text-paleta3 p-2 mr-2 no-underline hidden md:block lg:block">Biblioteca Escolar</h1>
			</div>
			<div class="p-1 flex flex-row">
				<a href="#" class="text-paleta3 p-2 mr-2 no-underline hidden md:block lg:block">Ayuda</a>
				<a href="#" class="text-paleta3 p-2 mr-2 no-underline hidden md:block lg:block">Buscar libro</a>
				<a href="#" class="text-paleta3 p-2 mr-2 no-underline hidden md:block lg:block">Salir</a>

				<a class="text-paleta3 p-2 no-underline hidden md:block lg:block">Administrador</a>
				<img class="inline-block h-8 w-8 rounded-full mr-2" src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="profilephoto">
			</div>
		</div>
	</header>
</body>	