<nav class="flex items-center justify-between flex-wrap bg-teal p-6">
	<div class="flex items-center flex-no-shrink text-white mr-6 mx-64">
	  <svg class="h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
	  <span class="font-semibold text-xl tracking-tight text-black">Sistema Bibliotecario</span>
	</div>
	<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
	  <div class="text-sm lg:flex-grow">
		<a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
		  Buscar Libro
		</a>
		<a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white mr-4">
		  Ayuda
		</a>
		<!-- <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white">
		  Salir
		</a> -->
	  </div>
	  <div>
		<a href="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-black border-blue hover:border-transparent hover:text-teal hover:bg-red mt-4 lg:mt-0">Salir</a>
	  </div>
	</div>
</nav>