<body class="component_position">
    <main>
        <h1 class="text-4xl">Sistema Bibliotecario <span class="text-xl"> Administración - Institución</span></h1>
        
        <hr>

        <p>Guarda los datos de tu institución, una vez almacenados los datos no podrás hacer más registros. 
            Puedes actualizar la información actual, o eliminar el registro completamente y añadir uno nuevo, 
            siempre y cuando no hayas registrado libros.</p>

        <h1 class="text-center">actualizar datos de la institución</h1>
    </main>
</body>