<app-header></app-header>

<app-sidebar></app-sidebar>

<body class="component_position">
    <main>
        <h1 class="text-4xl">Sistema Bibliotecario <span class="text-xl"> Administración - Administradores</span></h1>
        
        <hr>

        <p>Bienvenido a la sección donde se encuentra el listado de los administradores, puedes desactivar la 
            cuenta de cualquier administrador o eliminar los datos si no hay préstamos asociados a la cuenta </p>

        <div class="addData">
            <a type="button" onclick="document.getElementById('id04').style.display='block'">
                <img src="../../../../assets/new-img.png" alt="addData" height="64" width="64">
            </a>
        </div>
        
        <!-- TABLA Administradores -->
        <div class="table-wrapper">
            <h1>CUENTAS DE ADMINISTRADORES</h1>
            <table class="fl-table">
                <thead *ngFor="let item of table_header">
                    <th>{{ item.persona_identificacion }}</th>
                    <th>{{ item.persona_nombre }}</th>
                    <th>{{ item.persona_email }}</th>
                    <th></th>
                    <th></th>
                </thead>
        
                <tbody>
                    <tr *ngFor="let item of respuestaFacturas">
                        <td>{{ item.persona_identificacion }}</td>
                        <td>{{ item.persona_nombre }}</td>
                        <td>{{ item.persona_email }}</td>
                        <td>
                            <a type="button" href="/resumen_facturacion" (click)="getDatabyID(item.id); getDataClientebyID(item.id);">
                                <img src="../../assets/details.ico" alt="details-img" height="18" width="18">
                            </a>
                        </td>
                        <td>
                            <a type="button" (click)="deleteDataTable(item.id)">
                                <img src="../../assets/delete-img.png" alt="delete-img" height="18" width="18">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- MODAL Administradores -->
        <div>
            <div id="id04" class="w3-modal">
                <div class="w3-modal-content">
                    <header>
                        <span onclick="document.getElementById('id04').style.display='none'" class="w3-display-topright">
                            <img src="../../assets/close-img.png" alt="edit-img" height="18" width="18">
                        </span>
                    </header>
        
                    <div>
                        <h1>Nueva Categoria</h1>
                        <form [formGroup]="adminsForm" autocomplete="off">
                            <strong>Nombre de Categoria*</strong><br>
                            <input formControlName="categoria_nombre">
                            <br>
        
                            <a type="button" (click)="postDataFactura()" class="w3-display-bottomright">
                                <img src="../../assets/save-img.png" alt="save-img" height="40" width="40">
                            </a>
                        </form>
                        <span class="w3-display-bottomleft" *ngIf="adminsForm.controls['categoria_nombre'].errors?.required">* Campos Obligatorios</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>